hr {
  width: 130px;
  display: block;
}
.overview {
  margin-bottom: 20px;
}

#search {
  background-color: #ffba6b;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4), -1px -1px 3px rgba(0, 0, 0, 0.3);
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 25px;
  background-color: #ffebd4;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
  background-color: #ebcdd6;
  border-radius: 15px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4), -1px -1px 3px rgba(0, 0, 0, 0.3);
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
}

.weather-temperature .active:hover {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
